<h1>Contacts</h1>
<section id="contact">
  <div class="container">
  </div>
</section>
<br />
<br />
<br />
Adresse courrier<br />
Art et Sport du Patronage Laïque du 20e<br />
Mauricette CAUNILLE<br />
6 les hameaux. <br />
89330 Piffonds<br />
<br />
<br />
<br />
Relation Adhérents<br />
<br />
Activités aquatiques<br />
Mauricette CAUNILLE<br />
aspl20@aliceadsl.fr<br />
<br />
Activités gymniques, acrobatiques<br />
Miléna PAPAZIAN<br />
contacts.gym@gmail.com<br />
<br />
Gymnastique adultes<br />
Sylvia EL MANSALI<br />
tél: 01 43 58 29 71
