<h1>Inscriptions, modalités et documents</h1>
<br />
<h2>INSCRIPTIONS REPRISE DES ACTIVITES<br />SAISON 2018 - 2019</h2>
<p>
  Activités aquatiques : <br />
  A partir du 15 juin<br />
  DEMANDE D’INSCRIPTION UNIQUEMENT PAR MAIL <br />
  En précisant l’activité, le lieux, le jour ainsi que l’horaire<br />
  Aucune inscription sur site ou par téléphone<br />
  Reprise des activités semaine du 4 septembre 2018<br />
  <br />
  <br />
  Activités gymniques et acrobatiques :<br />
  Inscriptions semaine du 4 septembre 2018<br />
  Nous serons présents sur les sites , les jours et aux heures des séances , afin de vous accueillir et répondre à vos questions .<br />
  Téléchargez et remplissez le dossier d’inscription aux activités gymniques dès à présent, afin de le remettre aux animateurs sur place, avec votre règlement .<br />
  Reprise des séances semaine du 11 septembre 2018<br />
  <br />
  Découpage de la saison<br />Les activités débuteront le 4 Septembre 2018 pour les activités en piscine et le 11 septembre pour les activités gymniques .<br />
  Elles prendront fin 30 Juin 2019.<br />
  Les cours ne sont pas assurés pendant les vacances scolaires (zone C) ni les jours fériés . Nous ne faisons pas les «ponts» .<br />
  Afin de ne pas léser nos adhérents du samedi , nous fonctionnons le premier samedi de chaque “petite” vacance scolaire soit :<br />
  samedi 21 octobre 2018<br />
  samedi 23 décembre 2018<br />
  samedi 17 février 2019<br />
  samedi 14 avril 2019<br />
  <br />
  1er janvier, 1er mai la majorité des piscines et gymnases de la ville de Paris ferment à 17h ou 17h30  la veille de ces mêmes jours.<br />
  <br />
  <br />
  DOCUMENTS NECESSAIRES<br />
  Le bulletin d’inscription<br />
  <br />
  Un certificat médical de moins de 3 mois<br />
  N’oubliez pas qu’en cas d’inscription définitive un certificat médical de non contre indication à la pratique de l’activité choisie vous sera demandé . Ce certificat est obligatoire. En cas de non présentation , votre dossier d’inscription sera considéré comme incomplet.<br />
  <br />
  De plus, pour l’activité Bébés Nageurs uniquement:<br />
  Les 2  premières injections contenant le vaccin contre la Polio sont obligatoires afin de pratiquer cette activité.<br />
  Il vous sera donc demandé de bien vouloir présenter à l’inscription le carnet de santé de l’enfant.<br />
  <br />
  <br />
  REGLEMENT<br />
  <br />
  Chèque à l’ordre de L’ASPL 20ème<br />
  Nous acceptons:<br />
  Les chèques vacances (prévoir 2 euros supplémentaires par cotisation)<br />
  Les tickets loisirs CAF Paris uniquement<br />
  les coupons sport (prévoir 2 euros supplémentaires par cotisation) <br />
  <br />
  ATTENTION<br />
  D’importants changements concernant  les modalités d’attribution des Réduc’Sport seront mis en application à partir de la rentrée 2018-2019 .<br />
  Nous ne sommes malheureusement plus en mesure d’accepter ce mode de règlement.
</p>
