@import "bootstrap";

$clean: #A7D2CB;

.container2 {
  min-height: 100vh;
  position: relative;
}

#navbarNav{
  flex: none;
}

.navbar {
  background-color: $clean;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  font-size: 1em;
}
