@import "bootstrap";
@import "summernote-bs4";
@import "summernote-custom-theme";
@import "scaffolds";
@import "posts";

//************** Variables **************//
$clean: #A7D2CB;


//************** ID's **************//
#navbarNav{
    flex: none;
}

#complet {
    color: #ff0000;
    font-weight: bold;
    text-decoration: line-through;
}

//************** Classes **************//

.container2 {
    min-height: 100vh;
    position: relative;
}

.navbar {
  background-color: $clean;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  font-size: 1em;
}
