<div>
  <p>L’ASPL20 est une association omnisports du 20eme arrondissement de Paris.</p>
  <p>Elle vous propose 6 activités afin de vous permettre de vivre le plaisir du sport loisir.</p>
</div>
<div>
  <p>
    <%= raw @post.content %>
  </p>

</div>
